<section>
    <div class="group1 container-fluid">
        <div class = "heading">
            <h1 class="bannerheading">Contact Us</h1>
        </div>

        <div class = "paragraph">
            <p class = "text-center">We are here to support your next challenge, connect with us today!</p>
        </div>
    </div>
</section>