<section class="whywork py-5 gettouch" style="background: #F5F5FA;">
    <div class ="Group3" >
        <div class = "row align-items-center main">
            <div class = "col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="contacthead">
                <h1 class = "mainhead mainheadingeffects">Get in Touch for gaining Pixoatic Solutions Services</h1></div>
                <p class = "text-center px-5">When we say we are your Technology Partners, we mean it!</p>
            </div>
        </div>
    
        <div class="main mt-4">
            <div class="row">
                <div class = "col-sm-12 col-md-3 col-lg-3 col-xl-3 mrgnbtm">
                    <div class="card h-100 " >
                        <div class="card-body" >
                            <div style="position: relative;">                                
                                <%= image_tag("visualteamexp.png", class: "img-fluid bounceicon", alt: "wallet") %>                            
                            </div>
                            <div class ="mt-3">
                                <h1 class=" cardtitle1 cardtitle bounceicon">Virtual Team with best Expertise</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">Find out how our expert level resources are the right fit for you.</p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class = "col-sm-12 col-md-3 col-lg-3 col-xl-3 mrgnbtm">
                    <div class="card h-100  "  >
                        <div class="card-body">
                            <div style="position: relative;">
                                <%= image_tag("support.png", class: "img-fluid bounceicon", alt: "technology") %>
                            </div>
                            <div  class ="mt-3">
                                <h1 class=" cardtitle1 cardtitle bounceicon">Support</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">Got a support-related query? We have all the answers!</p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class = "col-sm-12 col-md-3 col-lg-3 col-xl-3 mrgnbtm mb-sm-0">
                    <div class="card h-100 ">
                        <div class="card-body">
                            <div style="position: relative;">
                                <%= image_tag("joinhand.png", class: "img-fluid bounceicon", alt: "money value") %>
                            </div>
                            <div  class ="mt-3">
                                <h1  class=" cardtitle1 cardtitle bounceicon">Join Hands</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">We are your partners in collaboration. Grow your business to new heights with us.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "col-sm-12 col-md-3 col-lg-3 col-xl-3 mrgnbtm mb-sm-0">
                    <div class="card h-100 ">
                        <div class="card-body">
                            <div style="position: relative;">
                                <%= image_tag("hiredev.png", class: "img-fluid bounceicon", alt: "money value") %>
                            </div>
                            <div  class ="mt-3">
                                <h1  class=" cardtitle1 cardtitle bounceicon">Hire Developer</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">Flexible business outsourcing models that match your business needs.</p>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>         
    </div> 
</section>