<section>
    <div class=" border-secondary">
        <div class="main row ">
            <div class="col-sm-12 col-md-12 col-xl-6 col-lg-6">
                <h2 class="main_head mainheadingeffects">Good Talks MakeGood Projects</h2>
                <p class="main_body hideonsmall d-md-block">
                    Let’s talk about your business ideas, plans and our expert team will help you create the software of your dreams. Get in touch with us for all your staffing requirements and hire our optimal services for getting the project developments done with your budget estimate. You can expect to hear from us within 8 business hours. We believe in building business partnerships that go long-term.
                </p>
                
            </div>
            <div class="col-sm-12 col-md-12 col-xl-6 col-lg-6 hideonmain d-md-none">
                <p class="main_body ">
                    Let’s talk about your business ideas, plans and our expert team will help you create the software of your dreams. Get in touch with us for all your staffing requirements and hire our optimal services for getting the project developments done with your budget estimate. You can expect to hear from us within 8 business hours. We believe in building business partnerships that go long-term.
                </p>
            </div>
            <div class="col-sm-12  col-md-12 col-xl-6 col-lg-6 text-right pt-2 zoomin">
                <%= image_tag("teamimg.jpg", class: "img-fluid float-end", alt: "team") %>
            </div>
        </div>
    </div>
</section>