<div class="role_errors border-2 border border-danger p-2 rounded d-none" id="error-container">
    <h6 class="bg-secondary p-2"><span id="error-count"></span> Errors, Please fixed errors: <h6>
    <ul id="error-list"></ul>
</div>