<section>
    <div class=" border-secondary">
        <div class="main row ">
            <div class="col-sm-12 col-md-12 col-xl-8 col-lg-8">
                <h2 class="main_head mainheadingeffects mb-0">What's Pixoatic Solution ?</h2>
                <p class="main_body hideonsmall d-md-block">
                    Pixoatic Solution is Digital Product Development Agency, specializing in Web and Mobile application development using the latest in technologies, methodologies and frameworks. We are highly innovation focused, and an ideal strategic partner for tech startups taking the lean approach, providing guidance and development services all the way from initial ideation and validation to development, launch and data driven growth. Using the latest in technologies to build the most innovative mobile applications. From native applications on iOS and Android to using Reach Native for a more economical approach when building multi-platform applications. We always focus on your customers and build your product being one. Whether you are a startup towards a dream or an evolving enterprise, our smart development framework will get your products from paper to market in the agilest & leanest way possible. 
Our expert web developers build them full stack. Our UI/UX designers are equally good at presenting it in the best way possible to your users. We also make the existing ones better at the most reduced turn around time possible. <br>
Our developers also contribute to several frameworks like React Native/JS, Ruby On Rails etc and provide consultation to other agencies as needed.
                </p>
               
            </div>
            <div class="col-sm-12 col-md-12 col-xl-6 col-lg-6 hideonmain d-md-none">
                <p class="main_body ">
                    Pixoatic Solution is Digital Product Development Agency, specializing in Web and Mobile application development using the latest in technologies, methodologies and frameworks. We are highly innovation focused, and an ideal strategic partner for tech startups taking the lean approach, providing guidance and development services all the way from initial ideation and validation to development, launch and data driven growth. Using the latest in technologies to build the most innovative mobile applications. From native applications on iOS and Android to using Reach Native for a more economical approach when building multi-platform applications. We always focus on your customers and build your product being one. Whether you are a startup towards a dream or an evolving enterprise, our smart development framework will get your products from paper to market in the agilest & leanest way possible. 
Our expert web developers build them full stack. Our UI/UX designers are equally good at presenting it in the best way possible to your users. We also make the existing ones better at the most reduced turn around time possible. <br>
Our developers also contribute to several frameworks like React Native/JS, Ruby On Rails etc and provide consultation to other agencies as needed.
                </p>
            </div>
            <div class="col-sm-12  col-md-12 col-lg-4 text-right pt-2 zoomin">
                <%= image_tag("aboutpixoatic.jpg", class: "img-fluid float-sm-start float-lg-end", alt: "developer") %>
            </div>
        </div>
    </div>
</section>