<section>
    <div class="modal fade bd-example-modal-lg" id="redirectcontact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
               <div class="modal-header">
          
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                    <!-- Form -->
                    <%= render "pixoatics/contactUs/contactus_form"%>   
                </div>
            </div>
        </div>
    </div>

    <div class="main mb-5">
        <div class="container">
            <h2 class="main_head" style="color: #222F9C;">If what you’re looking for is...
                <br>a stable team that you can rely on (in your same time zone)</h2>
                <br>
                <button type="button" class="btn btn-primary rounded-pill ms-auto btnhover" data-bs-toggle="modal" data-bs-target="#redirectcontact" id="reset-contactus-modal-errors" >Talk to Our Expert <i class="fa fa-arrow-right-long"></i></button>
        </div>            
    </div>
</section>

<style>
.modal .modal-header{border-bottom:none !important;}

</style>