<section>
    <div class="group1 container-fluid">
        <div class = "heading">
            <h1 class="bannerheading">On-Demand Developers</h1>
        </div>

        <div class = "paragraph">
            <p class = "text-center">We provide Developers that connects businesses and individuals with top-tier developers for their software development needs.</p>
        </div>
    </div>
</section> 