<section class="pb-4 development">
    <div  class="pb-5"  style="background: #F5F5FA;">
        <div class="row main">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                   <h1 class="text-center pt-5 main_head">The Different Types of On-demand Developers</h1>
           
                    <p class="main_body text-left pb-4 mainpara ">
                        On-demand developers can work in a number of diverse specialties and fields. For example, you might encounter on-demand food delivery app development or specializations in edtech. You’ll see custom software development and teams using a variety of tools, languages, and technologies.
                    These are some of the types of on-demand developers you might hire to address your business’s technology needs:
                    </p>
            </div>
        </div>
        <div class="row main mt-0">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <h1 class="head">
                        
                        <%= image_tag('checkicon.png', class: 'img-fluid') %>&nbsp; Mobile and Web Applications
                    </h1>
                    <p class="body">
                        An exceptional team of developers work with technologies like Android and iOS and many others to bring the best mobile and web applications into existence. Rest assured, our services extend beyond just the development phase.
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <h1 class="head">
                        
                        <%= image_tag('checkicon.png', class: 'img-fluid') %>&nbsp; Software Testing & Quality Assurance
                    </h1>
                    <p class="body">
                        A software is perfect only when it goes through proper testing and quality assurance. We at Pixoatic make sure to run it through rigorous testing and bring out an exceptional product with our QA software testing process.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <h1 class="head ">
                        
                        <%= image_tag('checkicon.png', class: 'img-fluid') %>&nbsp; Software and Systems Integration
                    </h1>
                    <p class="body">
                        Every system or software requires integration at a certain point to keep with the growing business requirements and market trends. We handle those integration – be it offline or in real-time – without affecting your current business processes.
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <h1 class="head">
                        
                        <%= image_tag('checkicon.png', class: 'img-fluid') %>&nbsp; UI/UX Design
                    </h1>
                    <p class="body">
                        The UI/UX design of an application is the very first thing any user will notice. So, we make sure that the design is top notch and attractive. We make it captivative and user-friendly.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>