<section>
    <div class="group1 container-fluid">
        <div class = "heading">
            <h1 class="bannerheading">Ruby On Rails Developers</h1>
        </div>

        <div class = "paragraph">
            <p class = "text-center">Turn the advantages of Ruby on Rails development into business benefits.</p>
        </div>
    </div>
</section>