<section>
    <div class="pixoaticsolution">
        <div class="row main">
            <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
                <div>
                    <p class="solution-text">Pixoatic Solutions has talented and well-experienced Ruby on Rails developers who provide scalable, secure, and fast-performing web apps to clients. We deliver out-of-the-box ROR solutions to diverse business verticals and ensure complete customer satisfaction.</p>
                </div> 
            </div>

            <div class=" col-sm-12 col-md-12 col-lg-5 col-xl-5">
                <div class="zoomin">
                    <%= image_tag("officeworkimg.jpg", alt: "office", class: "img-fluid w-100") %>
                </div>
            </div>
        </div>
    </div>
</section>