<section class="questionsec reacjsques">
  <div class="questions mt-5 mb-5">
    <div class="pb-4">
      <h1 class="main-heading">Frequently Asked Questions</h1>
    </div>
    <div class="main row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
        <div class="accordion" id="myAccordion">
          <div class="accordion-item">
              <h2 class="accordion-header text1" id="headingOne">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">What makes ROR the best framework?</button>									
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                      <p class="skills-text">The code in Ruby is self-documenting and readable. With the self-documenting feature of Ruby, productivity is increased as the need for writing documentation is eliminated, so starting with an existing project becomes easier for other developers.</p>
                  </div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header text1" id="headingTwo">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">What actually is Ruby on Rails?</button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                      <p class="skills-text">ROR that stands for Ruby on Rails is one of the popular web development frameworks which is built with Ruby language. ROR abstracts repetitive tasks and simplifies them, it also helps in developing applications more quickly.</p>
                  </div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header text1" id="headingThree">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">Why is choosing Ruby on Rails application development beneficial?</button>                     
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                      <p class="skills-text">Ruby is one of those programming languages that is widely utilized for development, and the optimized & simple syntax are the key reasons for its adoption. Documentations for Ruby on Rails and Ruby are perfectly written and well-managed, so there is no difficulty in learning the language. Being open-source, there is no need for licensing that cuts the cost of running a website.</p>
                  </div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header text1" id="headingFour">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">Does ROR offer libraries?</button>                     
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                      <p class="skills-text">Of course, there are lots of libraries that ROR offers, and those libraries simplify common coding tasks sessions, form validations, sessions management, and more.</p>
                  </div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header text1" id="headingFive">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">How to find the right Ruby on Rails web development services company?</button>                     
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                      <p class="skills-text">Although there are dozens of companies out there that boast to offer the best ROR development services, not all of them provide authentic services. To choose the best company, you must carefully make some research. You can check varied reviews and testimonials to assess the reliability of the company. Things that you should look for include their expertise, years of experience, capabilities, etc. By considering these factors, you can find the right Ruby on Rails web development services company.</p>
                  </div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header text1" id="headingSix">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">Does ROR follow MVC architecture?</button>                     
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                      <p class="skills-text">Yes, Ruby on Rails is an MVC (Model View Controller) based web framework that allows separation of data from presentation.</p>
                  </div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header text1" id="headingSeven">
                  <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven">What about the licensing costs for Ruby on Rails application development?</button>                     
              </h2>
              <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                  <div class="card-body">
                      <p class="skills-text">ROR along with most of its libraries are open-source. Thus no licensing cost is incurred.</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>