<section class="projectidea pt-3 pb-5 pb-md-0">
  <div class="main ror-developer mt-5">
    <div  class="main row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1 class="text1 text-center">The Confidentiality of Your Project or Idea is Protected with a Non-<br/>disclosure Agreement</h1>
        <p class="description1  text-center pb-2">Factors That Make Us A Prominent Ruby On Rails Development CompanyAs a reliable ROR development company, we offer excellent<br/> services to our clients.</p>
      </div>
    </div>
    <div class=" row">
      <div class="d-md-inline-flex justify-content-between gap-4">
        <div class="card1 mb-sm-5 mx-2">
          <div class="card h-100 mb-3">
            <div class = "ruby-rails-developer ">
              <div class="  border-light">
                <div class="card-body">
                  <h5 class="skills card-title">Strong Skills</h5>
                  <p class="skills-text card-text">Our versatile ROR developers have vast experience and outstanding technical knack that enables them to handle and accomplish successfully complex projects. We keep our developers updated with the
                        latest trends and technology in the industry to bring in them more proficiency.</p>
                </div>                  
              </div>            
            </div>
          </div>
        </div>
        <div class="card2 mb-sm-5 mx-2">
          <div class="card h-100 mb-3">
            <div class = "react-native-developer">
              <div class="  border-light">
                  <div class="card-body">
                    <h5 class="testing card-title">Obsessive Testing</h5>
                    <p class="testing-text card-text">We realize that a single glitch in your app or website could cost a lot. So we ensure that every end product is fully tested to ensure the best performance and functionality. With our world-class
                          Ruby on Rails development services and testing methodologies, you can rest assured of the quality of your web app.</p>
                  </div>                  
              </div>            
            </div>
          </div>
        </div>
        <div class="card2 mb-sm-5 mx-2">
          <div class="card h-100 mb-3">
            <div class = "react-js-developer">
              <div class="  border-light">
                <div class="card-body">
                  <h5 class="process card-title">Agile Development Process</h5>
                  <p class="process-text card-text">At Pixoatic Solutions, we follow agile development principles and work with an efficient process that allows us to design, develop, test, and launch every single application or website in a 
                      time-efficient fashion. We make on-time delivery of projects with our development approaches.</p>
                </div>
              </div>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>