<section class="ourror">
    <div class = "Group4 container-fluid pb-5 px-0">
        <div><h1 class="heading3 pt-5 text-white">Our ROR Development Process</h1></div>
        <div><p class="description text-white">Our web solutions are customer-oriented and competitive</p></div>
        <div class="row main">
            <div class = "col-sm-12 col-md-12 col-lg-6 col-xl-6 d-lg-none d-md-block ">
                <div class = "group4img w-100 h-100 " >
                    <div class="zoomin">
                        <%= image_tag("process-five.png", class: "img-fluid", alt: "approchimg") %>
                    </div>
                </div> 
            </div>
            <div class = "col-sm-12 col-md-12 col-lg-7 col-xl-7">
                <div class="row ">
                    <div class = "col-sm-12 col-md-12 col-lg-5 col-xl-5">
                        <div class="agile"> 
                            <h1 class="text-start text-white" style="border-top: 3px solid #3EDCC2; border-block-width: 5px; width: 80px;margin-top: 5px;">Discovery</h1> 
                        </div>
                    </div>
                    <div class = "col-sm-12 col-md-12 col-lg-7 col-xl-7">
                        <div class="para1">
                            <p class = "text-start text-white ">We start by requirement gathering, competitive analysis,
                                    finding business goals, etc., to discover your project feasibility.</p> 
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class = "col-sm-12 col-md-12 col-lg-5 col-xl-5">
                        <div class="agile"> 
                            <h1 class="text-start text-white" style="border-top: 3px solid #3EDCC2; border-block-width: 5px; width: 80px;margin-top: 5px;">Wireframe/Design</h1> 
                        </div>
                    </div>
                    <div class = "col-sm-12 col-md-12 col-lg-7 col-xl-7">
                        <div class="para1">
                            <p class = "text-start text-white">After understanding the requirement, we create high 
                                fidelity wireframes and prototypes if applicable for your website design.</p> 
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class = "col-sm-12 col-md-12 col-lg-5 col-xl-5">
                        <div class="agile"> 
                            <h1 class="text-start text-white" style="border-top: 3px solid #3EDCC2; border-block-width: 5px; width: 80px;margin-top: 5px;">Development</h1> 
                        </div>
                    </div>
                    <div class = "col-sm-12 col-md-12 col-lg-7 col-xl-7">
                        <div class="para1">
                            <p class = "text-start text-white ">We implement all your website pages and content
                                    in a CMS. All the webpages and other website components are developed.</p> 
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class = "col-sm-12 col-md-12 col-lg-5 col-xl-5">
                        <div class="agile"> 
                            <h1 class="text-start text-white" style="border-top: 3px solid #3EDCC2; border-block-width: 5px; width: 80px;margin-top: 5px;">Testing</h1> 
                        </div>
                    </div>
                    <div class = "col-sm-12 col-md-12 col-lg-7 col-xl-7">
                        <div class="para1">
                            <p class = "text-start text-white">Your website goes through a stringent test procedure where various aspects, 
                                including appearance & performance, are tested.</p> 
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class = "col-sm-12 col-md-12 col-lg-5 col-xl-5">
                        <div class="agile"> 
                            <h1 class="text-start text-white " style="border-top: 3px solid #3EDCC2; border-block-width: 5px;width: 80px;margin-top: 5px; ">Deployment</h1> 
                        </div>
                    </div>
                    <div class = "col-sm-12 col-md-12 col-lg-7 col-xl-7">
                        <div class="para1">
                            <p class = "text-start text-white">After creating and testing the website successfully, 
                                we help you deploy your site on any desired platform and complete the setup.</p> 
                        </div> 
                    </div>
                </div>
            </div>
            <div class = "col-sm-12 col-md-12 col-lg-5 col-xl-5 d-lg-block d-md-none d-none">
                <div class = "group4img h-100 zoomin" >
                    <%= image_tag("process-five.png", alt: "approchimg", class: "img-fluid") %>
                </div> 
            </div>
        </div>
    </div>
</section>