<section class="questionsec reacjsques">
    <div class="questions mt-5 mb-5">
        <div class="mb-3">
        <h1 class="heading3 ">Frequently Asked Questions</h1></div>

        <div class="main row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                <div class="accordion" id="myAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header text1" id="headingOne">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">Why should you choose React Native for your next mobile app development project?</button>									
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p class="skills-text">As a cross-platform development framework, it enables developers to use a singular codebase for both Android and iOS apps. This streamlines future updates and maintenance and significantly reduces development time and cost.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header text1" id="headingTwo">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Is signing a non-disclosure agreement (NDA) part of your React Native app development services?</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p class="skills-text">Yes! At Pixoatic, we prioritize the security and integrity of our client's data, which is why every interaction commences with the execution of a custom NDA. This applies to our React Native development services offered to clients domestically and internationally.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header text1" id="headingThree">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">What is your approach to planning a React Native app development project for various brands?</button>                     
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p class="skills-text">Our team conducts a comprehensive analysis of your app concept and research into your target audience, required technology stack, and any other specific needs. Based on the distinct requirements, our React Native development firm assembles the optimal cross-functional team and resource allocation to deliver an exceptional end product.</p>                                
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header text1" id="headingFour">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">Is migration from an existing native app to React Native possible?</button>                     
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p class="skills-text">Yes, Migrating an existing native mobile app to React Native is possible. We offer in-depth React Native consultancy and support for accomplishing the migration.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header text1" id="headingFive">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">How long does it take to build a React Native app?</button>                     
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p class="skills-text">Though the speed of development depends on what type of features you want to be implemented in your app, React Native lets you reuse the same code for multiple platforms. Also, you don’t have to work on two separate codes when you want some changes as a single codebase works for both Android & iOS platforms, so it reduces the development time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header text1" id="headingSix">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">How much does it cost to build a React Native app?</button>                     
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p class="skills-text">Several factors influence the cost of React Native app development, including development platform, app category, app complexity, geographic location, and the desired features of the app. Please connect with us to discuss your requirements and receive an accurate cost estimate for your app development project.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>