<section>
    <div class="group1 container-fluid">
        <div class = "heading">
            <h1 class="bannerheading">React Native Developers</h1>
        </div>
        <div class = "paragraph">
            <p class = "text-center">
            Develop visually stunning and fast mobile apps for iOS and Android up to 40% cheaper with our experienced React Native app developers.
            </p>
        </div>
    </div>
</section>