<section class="benifits pt-3 pb-5 pb-md-0">
    <div class=" ror-developer mt-5">
        <div class="row main">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="reactnativeBenifits mb-3"><h1 class="text1 text-center mainheadingeffects">Benefits of Hiring a React Native App Development Company</h1></div>
                <div><p class="description1  text-center pb-2">Pixoatic Solutions is a react native app development company with rapid multi-platform development expertise, helping you <br/> 
                    overcome complexity through reusable code, fast performance and speed, live reload, open-source, and robust developer tools.</p></div>
            </div>
        </div>
            <div class=" row main mt-3">
                <div class="d-md-inline-flex justify-content-between gap-4">
                  <div class="card1 mb-sm-5">
                    <div class="card h-100 mb-3">
                        <div class = "ruby-rails-developer ">
                            <div class="  border-light">
                                <div class="card-body">
                                    <h5 class="skills card-title">We Turn Your Idea Into Reality</h5>
                                    <p class="skills-text card-text">With our expertise and years of experience in application development, the team of Pixoatic leverages a variety 
                                        of frameworks and the latest technology to transform your application idea.</p>
                                </div>
                                
                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class="card2 mb-sm-5">
                    <div class="card h-100 mb-3">
                        <div class = "react-native-developer">
                            <div class="  border-light">
                                <div class="card-body">
                                    <h5 class="testing card-title">Boosting Your Brand <br/>Reputation</h5>
                                    <p class="testing-text card-text">Mobile applications have taken the world by storm, and staying up-to-date with your audience is the key to success.
                                        With our reliable app development services, we help you boost your brand reputation among the public.</p>
                                </div>
                                
                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class="card2 mb-sm-5">
                    <div class="card h-100 mb-3">
                        <div class = "react-js-developer">
                            <div class="  border-light">
                                <div class="card-body">
                                    <h5 class="process card-title">Evolve Your<br/> Business</h5>
                                    <p class="process-text card-text">We don't just create an app for you. Our passion for learning and adopting has led us to 
                                        develop applications that transform your business and evolve it by ensuring a fluid work dynamic.</p>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
                </div>
        </div>
      </div>
</section>