<section class="ourwork"> 
    <div class="row main">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1 class="pt-2 wedo_head">Our Work</h1>
            <p class="wedo_body">We develop web and mobile applications for startups, established businesses and enterprises.</p>
        </div>
     
        <div id="carouselExampleDark" class="carousel carousel-dark slide mt-2" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="d-flex justify-content-between caroseldiv" style="position: relative;">
                    <div class="carousel-caption">
                        <h1>Olera</h1>
                        <h3>Your guide to the eldercare ecosystem</h3>
                        <p>Design and development of a Ruby on Rails app for the elder care platform.</p>
                        </div>
                        <%= image_tag('Olera-Thumbnail.png', class: 'w-50 d-none d-md-block', alt: '...', style: 'object-fit: contain;  height: 362px;') %>                    
                </div>
              </div>
              <div class="carousel-item" style="background: #FBF7F6; height: 366px;" data-bs-interval="2000">
                <div class="d-flex justify-content-between caroseldiv" style="position: relative;">
                    <div class="carousel-caption">
                        <h1>Van Cafe</h1>
                        <h3>Build the van you want</h3>
                        <p>Design and development of BigCommerce website for "van life" online store</p>
                        </div>
                        <%= image_tag('Van-Cafe-Thumbnail-610x359 1.png', class: 'w-50 d-none d-md-block', alt: '...', style: 'object-fit: contain;  height: 362px;') %>                    
                </div>
              </div>
              <div class="carousel-item" style="background: #EDF0F6; height: 366px;" data-bs-interval="3000">
                <div class="d-flex justify-content-between caroseldiv" style="position: relative;">
                    <div class="carousel-caption">
                        <h1>Blinds Downunder</h1>
                        <h3>Shopify store for roller blinds business</h3>
                        <p>Design and development of a Ruby on Rails and React JS with high-quality, custom-made blinds.</p>
                        </div>
                        <%= image_tag('blinds-featured2-610x359 1.png', class: 'w-50 d-none d-md-block', alt: '...', style: 'object-fit: contain;  height: 362px;') %>                    
                </div>
              </div>
              <div class="carousel-item" style="background: #FAF4E1; height: 366px;">
                <div class="d-flex justify-content-between caroseldiv" style="position: relative;">
                    <div class="carousel-caption">
                        <h1>Life Insurance Canada</h1>
                        <h3>An intuitive site for a life insurance broker</h3>
                        <p>Design and development of a Ruby On Rails website for a Canadian Life Insurance broker.</p>
                        </div>
                        <%= image_tag('Life-Insurance-Canada-Thumbnail2-610x359 1.png', class: 'w-50 d-none d-md-block', alt: '...', style: 'object-fit: contain;  height: 362px;') %>                    
                </div>
              </div>
            </div>
           
          </div>
     </div>
</section>

<style>
section.ourwork .carousel-caption{
    position: inherit;
    padding-top: 9.25rem;
    text-align: inherit !important;
    left: 2%;
}

</style>