<section class="servicesec  mt-sm-4 mb-sm-4 mt-lg-5 mb-lg-5">
	<div class="">
        <div class="row main space6">
            <div class="col-sm-12  col-md-12 col-lg-3 col-xl-3 ">
                <h5 class="service-heading">We're a custom software company that meets every development need.</h5>
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 ">                      
                <h3 class="service-title">Design & Discovery</h3>
                <p class="service-body">Tease out your unique vision in a cost-effective way 
                    that focuses on your end user and expedites your time to market.<p>
            </div>        

            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 " >
                <h3 class="service-title">Web Development</h3>
                <p class="service-body">Full stack web app development services that help solve your gnarliest software problems.<p>                    
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
                <h3 class="service-title">Mobile Apps</h3>
                <p class="service-body">Custom mobile app development services powered by cross-platform technologies, 
                    so you can blow every user’s mind.<p>
            </div>
        
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3  d-sm-none d-md-none d-lg-block"></div>
            
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <h3 class="service-title">Website Development</h3>
                <p class="service-body">Websites that are beautifully-designed, user-friendly, bug-free...and Pixoatic’s websites always have a little something extra.<p>
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 ">            
                <h3 class="service-title">Enterprise Apps</h3>
                <p class="service-body">Developers that can keep up with all your needs: for scale, for volume, and for the highest levels of security.<p>
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 " >
                <h3 class="service-title">Support & Maintenance</h3>
                <p class="service-body">Whether or not we wrote the original code for your software, count on Gnar to keep your products functional and bug-free.<p>
            </div>            
        </div>       
	</div>
</section>