<section class="wedo"> 
    <div class="">
        <div style="background: rgba(62, 220, 194, 0.1); min-height:907px;">
            <div class="row main">
                <div class="col-sm-12  col-md-12 col-lg-12 col-xl-12 ">
                    <h1 class="pt-5 wedo_head">High-quality software solutions for every business needs.</h1>
                    <p class="wedo_body paddbothside ">Business challenges vary depending on the company’s situation. We take these differences into account when providing custom software development solutions.</p>
                </div>
            </div>
            <div class="main text-center d-sm-block d-md-block ">
                    <div class="row" style="margin-left: 0px; margin-right:0px; min-height:100px;">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 " >
                            <%= image_tag('office-view1.png', class: 'workingEmployeeimg w-100', alt: 'workPlace', style: 'max-width: 100%;') %>
                        </div>
                    </div>
            </div>               
            <div class="row mx-xs-0  mx-sm-4" style="margin-left: 0px; margin-right:0px; margin-top:-50px;">
                <div class="d-xl-flex d-xl-block d-lg-block justify-content-around gap-3 flex-wrap ">
                    <div class="d-flex justify-content-center col bg-white pe-3 mx-xs-0  mx-sm-4 py-4 my-xs-2 my-sm-2 my-md-2 mainbox">
                        <%= image_tag('Vector.png', class: 'img-fluid mx-3 imgicon', alt: 'india', style: 'width: 35px; height: 35px;') %>
                        <div class="">  
                            <h1 class="wedo_title"> Startup</h1>
                            <p class="wedo_desc">Get your MVP built fast, test it on the market, pivot if necessary, 
                                and scale to a mature product with our award-winning team.</p>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-center col bg-white  pe-3 mx-xs-0 mx-sm-4 py-4 my-xs-2 my-sm-2 my-md-2 mainbox">
                        <%= image_tag('Vector.png', class: 'img-fluid mx-3 imgicon', alt: 'india', style: 'width: 35px; height: 35px;') %>
                        <div class="">
                            <h1 class="wedo_title">Growing</h1>
                            <p class="wedo_desc">Get your solution with all the basic features your company offers, 
                            scale it to work with all the processes your
                            business is working in and make it the best possible solution in the market.</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center col bg-white  pe-3  mx-xs-0 mx-sm-4 py-4 my-xs-2 my-sm-2 my-md-2 mainbox">
                        <%= image_tag('Vector.png', class: 'img-fluid mx-3 imgicon', alt: 'india', style: 'width: 35px; height: 35px;') %>
                        <div class="">
                            <h1 class="wedo_title">Enterprise</h1>
                            <p class="wedo_desc">With all the advanced and innovative ideas the business has to offer, 
                                with all the population it has to cover, we can help you in creating the best possible solution with the
                                latest technology and design to fulfill your and your customers needs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>