<section class="whywework">
	<div class="main row">
        <div class=" pt-3">
            <h3 class="whywork_mainhead">Why work with us</h3>
            <p class="whywork_mainbody">There are many custom software development companies out there vying for your attention. We stand out from the crowd by being:</p>
        </div>
        
            <div class=" marbtmsm col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" >
                <div class="card h-100">
                        <div class="card-body" style="background: rgba(255, 118, 2, 0.1);">
                            <div class="row" >
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 py-4 pb-sm-0 ms-sm-3">
                                    <div class="numberCircle  text-sm-center pt-3">1</div>
                                </div>
                                <div class="col pt-sm-0 pt-md-3 px-sm-4 padatsmallsize">
                                    <h1 class="whywork_title">Trusted by top companies</h1>
                                    <p class="whywork_desc">Leaders in car industry, energetics, 
                                        and finance have chosen us as their software development partner.</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="  col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" >
                <div class="card h-100">
                    <div class="card-body" style="background: rgba(68, 211, 0, 0.1);">
                        <div class="row" > 
                            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 py-4 pb-sm-0 ms-sm-3">
                                <div class="numberCircle numberCircle2  text-sm-center pt-3">2</div>
                            </div>
                            <div class="col pt-sm-0 pt-md-3 px-sm-4 padatsmallsize">
                                <h1 class="whywork_title">Highly reliable</h1>
                                <p class="whywork_desc">Our developers make about 50% of our clients’ software engineering resources.</p>
                            </div>
                        </div> 
                    </div>  
                </div>
            </div>
       
            <div class=" marbtmsm col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3" >
                <div class="card h-100">
                        <div class="card-body" style="background: rgba(0, 204, 180, 0.1);">
                            <div class="row" >
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 py-4 pb-sm-0 ms-sm-3">
                                    <div class="numberCircle numberCircle3  text-sm-center pt-3">3</div></div>
                                <div class="col pt-sm-0 pt-md-3 px-sm-4 padatsmallsize">
                                    <h1 class="whywork_title">Community leader</h1>
                                    <p class="whywork_desc">As the main contributor to the development community, Pixoatic are in close touch with renowned experts and can hire the best guns for you fast.
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            
            <div class=" col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-sm-3"  >
                <div class="card h-100">
                        <div class="card-body" style="background: rgba(0, 85, 211, 0.1);">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 py-4 pb-sm-0 ms-sm-3">
                                    <div class="numberCircle numberCircle4  text-sm-center pt-3">4</div></div>
                                <div class="col pt-sm-0 pt-md-3 px-sm-4 padatsmallsize">
                                    <h1 class="whywork_title">Long-term-oriented</h1>
                                    <p class="whywork_desc">One of our first clients has been relying on our custom application development services for almost 5 years now.</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        
    </div>
</section>