<section class="careerbenifits removextrapad">
    <div class="career-benefits px-pd-5">
        <div class="benefits-heading pt-5">
            <h1 class="mainheadingeffects">Benefits of working with Pixoatic Solutions</h1>
            <p class="pt-2">One of the Best places to Work</p>
        </div>
        
        <div class="row main mt-2">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
                <div class="card h-100">
                    <div class="card-body  boxsec">
                        <div class="">
                            
                            <h1 class="js-text1">Equal Opportunity</h1>
                        </div>
                        <p class="career-banner-text">We respect and value our every employee, we give them ample support for growth and pay attention to employee feedback.</p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
                <div class="card h-100">
                    <div class="card-body  boxsec">
                        <div class="">
                            
                            <h1 class="js-text1">Learning & Development</h1>
                        </div>
                        <p class="career-banner-text">Well defined technical and non-technical training sessions help to enhance their skills and be a better professional.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
                <div class="card h-100">
                    <div class="card-body  boxsec">
                        <div class="">
                        
                            <h1 class="js-text1">Favorable Work Environment</h1>
                        </div>
                        <p class="career-banner-text">We are provided with all necessary equipment, amenities, and conference rooms to facilitate smooth work.</p>
                    </div>
                </div>
            </div>
   
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-2">
                <div class="card h-100">
                    <div class="card-body  boxsec ">
                        <div class="">
                        
                            <h1 class="js-text1">Leaders Support</h1>
                        </div>
                        <p class="career-banner-text">Timely guidance, feedback, and constructive evaluation to improve and develop skills.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-2">
                <div class="card h-100">
                    <div class="card-body boxsec ">
                        <div class="">
                        
                            <h1 class="js-text1">Transparent Evaluation</h1>
                        </div>
                        <p class="career-banner-text">Well defined KRA/KPI's and 180 Degree evaluation for a fair assessment and salary hikes.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-2">
                <div class="card h-100">
                    <div class="card-body  boxsec  ">
                        <div class="">
                        
                            <h1 class="js-text1">Strong Work Ethics and Transparency</h1>
                        </div>
                        <p class="career-banner-text">Integrity and work ethics are absolutely paramount at Athmin, it helps to serve our clients the best and ensure a transparent work environment.</p>
                    </div>
                </div>
            </div>
        </div>  
    
    </div>
</section>