<section>
    <div class="group1 container-fluid">
        <div class = "heading">
            <h1 class="bannerheading">Career In Our Company</h1>
        </div>

        <div class = "paragraph">
            <p class = "text-center">We are proud of giving growth opportunities to the emerging talent of the IT industry.</p>
        </div>
    </div>
</section>