<section class="pixoaticcareer removextrapad main">
    <div class="it-careers-banner container-fluid">
        <div class="row ">
            <div class="career-banner-heading">
                <h1 class="mainheadingeffects">Work with Pixoatic on promising IT careers</h1>
            </div>
        
            <div class="col-sm-12 col-md-6 col-lg-6 col-12">
            <div class="">
                <p class="career-banner-text">We are technology engineering, fast-growing, and a dynamic amusing company, we make technology roadblocks smoother by offering a multitude of custom software development services and solutions that help businesses to proceed easily with the latest technology disruptions.</p>
            </div>
            </div>
        
            <div class="col-sm-12 col-md-6 col-lg-6 col-12">
            <div class="career-banner-description">
                <p class="">At Pixoatic Solutions, we care for our employees and our clients, they are our most salient assets. We embrace clan organisational culture where every individual gets an equal chance for growth, exposure, and nurturing. We value our team and give a work-life balance and make their career growth and worth.</p>
            </div>
            </div>
        </div>
        </div>
</section>