<section>
    <div class="group1 container-fluid">
        <div class = "heading">
            <h1 class="bannerheading">Quality Assurance Services</h1>
        </div>

        <div class = "paragraph">
            <p class = "text-center">Our expert QA engineers develop manual tests to ship the right software products on schedule.</p>
        </div>
    </div>
</section> 