<section class="ourworkservice whywork mb-md-5" style="margin-top: -15px;">
    <div class ="Group3 " >
        <div class=" mt-4">
            <div class="row main">
                <div class = "col-sm-12 col-md-6 col-lg-6 col-xl-6 mrgnbtm1 mrgntopfull">
                    <div class="card h-100 " style="border: none !important;">
                        <div class="card-body">
                            <div style="position: relative;">                                
                                <%= image_tag('challenge.png', class: 'img-fluid', alt: 'wallet') %>
                            </div>
                            <div class ="mt-5">
                                <h1 class=" cardtitle1 cardtitle pt-5">The Challenge</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">Code errors can lead to poor customer experience or business loss. Budget and timeline restraints can affect the quality of testing needed to deliver a reliable software product.
                                Moreover, your software may use complex logic that cannot be tested with automation.</p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class = "col-sm-12 col-md-6 col-lg-6 col-xl-6 mrgnbtm1 mrgntopfull">
                    <div class="card h-100" style="border: none !important;">
                        <div class="card-body">
                            <div style="position: relative;">
                                <%= image_tag('solution.png', class: 'img-fluid', alt: 'technology') %>
                            </div>
                            <div  class ="mt-5">
                                <h1 class=" cardtitle1 cardtitle pt-5">The Solution</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">We combine thorough, step-by-step approach with creative testing to deliver highly performant software.
                                Using an Agile methodology, we maximize our testing in conjunction with the development stage. This empowers you to keep costs predictable while building high-quality software.</p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>    
    </div> 
</section>

<style>
.mrgnbtm1 img {
    position: absolute;
    top: -61px;
    /* border-radius: 50%; */
    padding: 20px;
    /* background: #FF7602; */
}
</style>