<section class="topsec" >   
    <div class="">
        <div class="row main">
            <p class="main_body text-left solution-text ">
                Build a product that meets customer expectations. Our QA testers are product and domain specialists who can perform a full suite of software testing including design, execution, regression, and reporting.
            </p>            
        </div>
    </div>
    
    <div class=" border-secondary ">
        <div class="row main">
            <div class="col-12 col-md-6 col-xl-6 col-lg-6">
                <h2 class="main_head  text-left">Manual Software Testing Services</h2>
                <p class="main_body  text-left">
                    For non-repetitive tests that need to be done quickly. It's also an ideal way to gauge user experience early in the development stage; and user acceptance down the line. Our QA testers are product and domain experts who understand what truly matters for every feature that is built.
                </p>
                <br>
            </div>
            <div class="col-12 col-md-6 col-xl-6 col-lg-6 pt-5">
                <p class="main_body  text-left">
                Create the best experience for your end-users. Hire manual software testers who will probe the capabilities of your web and mobile apps with expert eyes.
                Take advantage of our well-defined quality assurance (QA) processes to achieve the business goals of your software products.
                </p>
            </div>
           
        </div>        
    </div> 
</section>