<section>
    <div class="group1 container-fluid">
        <div class = "heading">
            <h1 class="bannerheading">UI/UX design and development</h1>
        </div>
        <div class = "paragraph">
            <p class = "text-center">We study your business goals and target market to help you turn clicks into profits.</p>
        </div>
    </div>
</section> 