<section>
    <div class="js-service-banner mt-0">
        <div class="row main">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="ui-ux-banner-heading" style="margin-top: -7px;">
            <h1 class="text-capitalize">UI/UX design and development services </h1>
            </div>
        </div>
    
        <div class="col-sm-12 col-md-12 col-lg-6 ">
            <div class="service-banner-description">
            <p class="">Pixoatic Solutions provides UI/UX design services as a separate project and as part of full-cycle development. We study your business goals and target market to help you turn clicks into profits.</p>
            </div>
        </div>
        </div>
        <div class="row main">
            <div class="col-12">
                <%= image_tag("ui-ux-devimg.jpg", class: "img-fluid col-12", alt: "developer") %>
            </div>
        </div>
    </div>
</section>

<style>
    .ui-ux-banner-heading h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 45px;
        color: #30303C;
    }
</style>