<section class="careerbenifits removextrapad">
    <div class="career-benefits px-pd-5" style="background-color: #ffffff;">
        <div class="benefits-heading pt-5">
            <h1 class="mainheadingeffects">Web app design services</h1>
            <p></p>
        </div>
        
        <div class="row main mt-2">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
                <div class="card h-100">
                    <div class="card-body  boxsec">
                        <div class="">
                            
                            <h1 class="js-text1">Design from scratch</h1>
                        </div>
                        <p class="career-banner-text">
                            We will look into your product idea and user profile to design an engaging interface.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
                <div class="card h-100">
                    <div class="card-body  boxsec">
                        <div class="">
                            
                            <h1 class="js-text1">Redesign</h1>
                        </div>
                        <p class="career-banner-text">
                            We will review your software, listen to your claims and improve your design accordingly.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-2">
                <div class="card h-100">
                    <div class="card-body  boxsec">
                        <div class="">
                        
                            <h1 class="js-text1">MVP design</h1>
                        </div>
                        <p class="career-banner-text">We will put together a clickable wireframe that you can pitch to investors before developing the product.</p>
                    </div>
                </div>
            </div>
        </div>  
    
    </div>
</section>