<section>
    <div class="group1 container-fluid">
        <div class = "heading ">
            <h1 class="bannerheading">React Js Developers</h1>
        </div>

        <div class = "paragraph">
            <p class = "text-center">Develop impressive visuals for your website or web application with React, also known as ReactJS — a lightweight JavaScript library.</p>
        </div>
    </div>
</section>