<section class="questionsec reacjsques">
    <div class="questions mt-5 mb-5">
        <div class="pb-4">
        <h1 class="heading3  main-heading">Frequently Asked Questions</h1>
    </div>
        <div class="main row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                <div class="accordion" id="myAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header text1" id="headingOne">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">What is the difference between React and React Native?</button>									
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p class="skills-text">React is a front-end library based on JavaScript for creating interactive UI web apps. React Native is a cross-platform framework for developing mobile apps for Android, iOS, and Windows Mobile. Although both technologies use reusable code, they still have some minor differences. For example, in React JS, components are named in the HTML format (p, h2, etc.), while in React Native they are View, Text, etc. Replace these, and you get a reusable code with minimum effort.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header text1" id="headingTwo">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">How good is ReactJS for creating an eCommerce website?</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse " data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p class="skills-text">Using the dynamic offerings of ReactJS, our professionals build interactive user interfaces for eCommerce web apps with the combination of JavaScript libraries, HTML tags, and CSS. After working on more than a hundred projects, we can say that ReactJS brings a competitive edge to every project including eCommerce websites in particular.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header text1" id="headingThree">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">Can you develop a website using ReactJS and WordPress?</button>                     
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p class="skills-text">Yes, we can. ReactJS was designed and created in a way that it can easily adapt gradually. It lets you use only a few features while leaving out the rest. We have used the combined capabilities of ReactJS and WordPress to create a security wall of code that hackers can not get into the sensitive data of your website. And, we have done it very successfully in many projects.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header text1" id="headingFour">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">I want to migrate my jQuery code to ReactJS. Can you help me with that?</button>                     
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p class="skills-text">Yes, we can help with that. Migrating to ReactJS can enhance the capabilities of your website from easy maintenance of state to utilization of virtual DOM.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header text1" id="headingFive">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">Is ReactJS good enough for creating a multilingual website?</button>                     
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p class="skills-text">Since we have already developed a number of multilingual websites using the technology which includes websites that had both L2R & R2L languages, we can assure you about creating a fast-loading website using ReactJS.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header text1" id="headingSix">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">How do you host ReactJS applications?</button>                     
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p class="skills-text">You can host your React application like any web app and multiple options are available for hosting. For instance, you host React apps on Heroku, Github Pages, Netlify, etc, but these are suitable for static websites. You want to choose a solution like Microsoft Azure, Google Cloud, or AWS.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header text1" id="headingSeven">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven">How do you utilize the performance-related aspect of a ReactJS website?</button>                     
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                            <div class="card-body">
                                <p class="skills-text">ReactJS uses a Virtual DOM which is a copy of the real DOM. If there is a change state, instead of loading the whole DOM every time, the React DOM is recreated and compared with the previous version by using a different algorithm.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>