<section class="bannerservice">
    <div class="group1 container-fluid ">
        <div class = "heading">
            <h1 class="bannerheading">Custom software development services</h1>
        </div>
        <div class = "paragraph">
            <p class = "text-center parabner">
                We can build a website, web application, or mobile app for you by using the latest trends and technologies. We can also check your<br/> application for bugs, errors and inefficiencies as part of our servicess.
            </p>
        </div>
    </div>
</section> 