<section >
    <div class = " mt-5">
        <div class = "row main">
            <div class = "col-sm-12 col-md-6 col-lg-6 ">
                <h1 class = "text1 ">Services that meets all your needs & expectations</h1>
                <p class = "text3 mt-4"> We create custom, high-impact software solutions that empower businesses, enable them to lead with automation & can provide significant benefits such as increased efficiency, improved productivity and enhanced data management</p>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 ">        
                <p class = "service-first text2"> 
                    Our custom software development services provide our partners and clients with the freedom to grow and scale at unprecedented rates. We help startups, medium-sized businesses, and enterprise-grade organizations to build performance-oriented systems.
                </p>
                <ul>
                    <li class = "service-first text2">Compatible Code </li>
                    <li class = "service-first text2">High-End User Experience </li>
                    <li class = "service-first text2">Business-Centric Solutions</li>
                    <li class = "service-first text2">Agile, Adaptable & Scalable</li>
                </ul>   
            </div>
        </div>
    </div>
</section>
