<section>
    <div class = "group2">
        <div class = "main row">  
            <div class=" col-sm-12 col-md-12 col-lg-5 col-xl-5">
               <%= image_tag('industryimg.png', class: 'w-100', alt: 'industry work') %>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
                <h1 class = "g2text1 ">Industry-Leading custom software Development Solutions</h1>
                <p class = "g2text2 ">Enabling businesses to set up & expand their digital footprint. 
                    Our dedicated team of mobile app developers taps into the innovative world of mobile applications
                        with the right development tools and technologies to enable you to thrive in the competitive mobile
                        apps mega-market.</p>
            </div>
        <div>
    </div>
</section>