<section class="approachservice">
    <div class="">
        <div class="row Group4 mb-3" style="background-color: #fff;">
            <div class = "col-sm-12 col-md-12 col-lg-12 col-12">
                <h1>Our approach</h1>
                <p>Benefits Of Choosing Us As Your Development Company</p>
            </div>
        </div>
        <div class="row main mt-0">
            <%# <div class = "col-sm-12 col-md-6 col-lg-6 col-xl-6 d-lg-none d-md-block ">
                  <div class = "group4img w-100 h-100" >
                    <%= image_tag('approachimg.jpg', class: 'img-fluid', alt: 'approchimg') %>
                  <%# </div> %>
            <%# </div> %>
            <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <div class="row mainagile">
                    <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-4 col-xl-3">
                        <div class="agile mb-sm-4 " style="margin-bottom:16% !important"> 
                            <h1 class="text-start">Agile</h1>
                        </div>
                    </div>
                    <div class = "col-xs-12 col-sm-8 col-md-9 col-lg-8 col-xl-9">
                        <div class="para1 ">
                            <p class = "text-start ">We follow the Agile approach, working one or two-week iterations, 
                                sprints and maintain constant communication between stakeholders.</p> 
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-4 col-xl-3">
                        <div class="agile mb-sm-4 " style="margin-bottom:16% !important"> 
                            <h1 class="text-start">Transparency</h1> 
                        </div>
                    </div>
                    <div class = "col-xs-12 col-sm-8 col-md-9 col-lg-8 col-xl-9">
                        <div class="para1 ">
                            <p class = "text-start ">We provide access to all the necessary tools to track progress,
                                making demos at the end of every srpint, and hold regular meetings.</p> 
                        </div> 
                    </div>
                </div>
                <div class="row ">
                    <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-4 col-xl-3">
                        <div class="agile mb-sm-4 " style="margin-bottom:16% !important"> 
                            <h1 class="text-start ">Teamwork</h1> 
                        </div>
                    </div>
                    <div class = "col-xs-12 col-sm-8 col-md-9 col-lg-8 col-xl-9">
                        <div class="para1 ">
                            <p class = "text-start ">We believe that mutual trust during work leads to big results, 
                                cohesion makes us work as a single mechanism that to a great results.</p> 
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-4 col-xl-3">
                        <div class="agile mb-sm-4 " style="margin-bottom:16% !important"> 
                            <h1 class="text-start ">Flexibility</h1> 
                        </div>
                    </div>
                    <div class = "col-xs-12 col-sm-8 col-md-9 col-lg-8 col-xl-9">
                        <div class="para1 ">
                            <p class = "text-start ">We’re very flexible in how we work, it doesn’t matter do you need to 
                                augment your team or create a product from scratch, we have a solution.</p> 
                        </div> 
                    </div>
                </div>
            </div>
            <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 d-lg-block">
                  <div class = "group4img " >
                     <%= image_tag('approachimg.jpg', class: 'img-fluid mb-lg-5 m-auto d-block', alt: 'approchimg') %>
                  </div> 
            </div>
        </div>
    </div>    
</section>

