<section class="ourworkservice">
    <div class ="Group3 " >
        <div class = "row main align-items-center">
            <div class = "col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1 class = "g3-text1">Our Workflow Principles</h1>
                <p class = "g3-text2">We deliver easy-and-cheap-to-maintain products within the agreed timeframe and budget using an optimal technology stack.</p>
            </div>
        </div>
    
        <div class="main row my-5 align-items-center">
            <div class="d-md-inline-flex justify-content-between gap-4">
                <div class = "mrgnbtm">
                    <div class="card h-100 " style="background: rgba(255, 0, 0, 0.2);">
                        <div class="card-body" >
                            <div style="position: relative;">                                
                              <%= image_tag('wallet.png', class: 'img-fluid', alt: 'wallet') %>                         
                            </div>
                            <div class ="mt-5">
                                <h1 class=" cardtitle1 cardtitle">Control scope & budget</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">To deliver projects within a specific timeframe and budget, we have a pre-project phase that involves all stakeholders. During this stage, we discuss every detail and aspect of the project and agree upon scope, schedule, and cost. We then control those baselines by regularly reviewing the budget to actual costs.</p>
                            </div>
                        </div>
                    </div>
                </div>        
                <div class = "mrgnbtm">
                    <div class="card h-100  " style="background: rgba(193, 216, 169); ">
                        <div class="card-body">
                            <div style="position: relative;">
                              <%= image_tag('technology1.png', class: 'img-fluid', alt: 'technology', style: 'background: #44D300;') %>
                            </div>
                            <div  class ="mt-5">
                                <h1 class=" cardtitle1 cardtitle">Manage technology</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">We carefully choose the tech stack to meet your expectations and specific business requirements. We prefer technologies that give our clients a competitive advantage as well as reduce development costs and shorten the time to market. Our goal is to help you meet your current needs and plan for the future.</p>
                            </div>
                        </div>
                    </div>
                </div>        
                <div class = "mrgnbtm mb-sm-0">
                    <div class="card h-100 " style="background: #9dd2e0;">
                        <div class="card-body">
                            <div style="position: relative;">
                              <%= image_tag('save-money1.png', class: 'img-fluid', alt: 'money value', style: 'background: #0055D3;') %>
                            </div>
                            <div  class ="mt-5">
                                <h1  class=" cardtitle1 cardtitle">Save on maintenance</h1>
                            </div>
                            <div>
                                <p class="cardtext1 cardtext">Constantly updating your software is key to remaining competitive. Yet changes can be difficult and expensive. To make it cheaper and less stressful, we design your product properly in the first place. Our code is easy to understand, modify, and maintain so you can add changes to the existing code easily.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
      </div> 
   </div>
</section>