<section>
        <div class=" Technologies pb-5">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="main mb-4">
                    <h1 class="t-text1 pt-0">Our Technologies</h1>
                    <p class="t-text2 ">Your ideas, our expertise = Maximum customer success</p>
                    </div>
                </div>
            </div>
            <div class="main row mt-0">
                <div class="">
                    <div class="row">  
                            <div class="col-md-4 col-lg-4 mb-sm-5">
                                <div class="card h-100">
                                    <div class=" ruby-rails-developer ">
                                        <div class=" border border-light">
                                            <div class="card-body">
                                                <h1 class="card-title">Ruby on Rails Developer</h1>
                                                <p class="card-text ">
                                                    We are an IT vendor working worldwide and capable of carrying out your software initiative on any continent, owing to our global reach and optimally distributed team. Our RoR developers build scalable and secure custom apps with responsive design, high performance, and optimised code.  We have provided numerous demanding customers in various segments with top-rated IT solutions. 
                                                </p>
                                                <a href="/rordeveloper" class=" btn btn-primary rounded-pill" style="background: #222F9C;">Read More <i class="fa fa-arrow-right-long"></i></a>
                                            </div>                                  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 mb-sm-5">
                                <div class="card h-100">
                                    <div class="react-native-developer">
                                        <div class=" border border-light">
                                            <div class="card-body">
                                                <h1 class="card-title">React Native Developer</h1>
                                                <p class="card-text">
                                                    Propel your business growth with our React Native development services for iOS, Android &amp; Windows tailored to your needs.We provide custom React Native app development services as the fast and cost-effective option for mobile app projects. This technology allows using one team for both web and mobile applications, dramatically improving cost-efficiency. React Native is championed by Facebook and adopted by giants like Walmart, Bloomberg and Uber. 
                                                </p>
                                                <a href="/react-native-development" class=" btn btn-primary rounded-pill" style="background: #222F9C;">Read More <i class="fa fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 mb-sm-5">
                                <div class="card h-100">
                                    <div class="react-js-developer">
                                        <div class=" border border-light">
                                            <div class="card-body">
                                                <h1 class="card-title">React JS Developer</h1>
                                                <p class="card-text">
                                                    We provides end-to-end development services and creates innovative web applications for startups and large-scale enterprises. Having full-scale expertise in this JavaScript library, our professionals create exceptional user interfaces for web &amp; mobile applications. We provide dynamic and business-specific React JS solutions that handle synchronisation and data updates without reloading.
                                                </p>
                                                <a href="/react-native-development" class=" btn btn-primary rounded-pill" style="background: #222F9C;">Read More <i class="fa fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                                    
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4  mb-sm-5">
                            <div class="card h-100">
                                <div class="ruby-rails-developer ">
                                    <div class=" border border-light">
                                        <div class="card-body">
                                            <h1 class="card-title">UI/UX design and development</h1>
                                            <p class="card-text ">
                                                We help companies make valuable design decisions at every stage of the product life cycle — from introduction to growth phase. A deep understanding of business needs at each step allows us to deliver the right solutions faster and accelerate innovation. We provide experts throughout the entire product strategy and design process. When you work with Pixoatic, your team includes not just one UI and UX Designer — but instead the right person at the right time.
                                            </p>
                                            <a href="/ui-ux-development" class=" btn btn-primary rounded-pill " style="background: #222F9C;">Read More <i class="fa fa-arrow-right-long"></i></a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>                                
                        <div class="col-md-4 col-lg-4  mb-sm-5">
                            <div class="card h-100">
                                <div class="react-native-developer">
                                    <div class=" border border-light">
                                        <div class="card-body">
                                            <h1 class="card-title">Quality Assurance Services</h1>
                                            <p class="card-text">
                                                Pixoatic QA engineers offer high-quality manual testing services to reduce the dangers associated with code errors or illogical application behavior. We spot bugs as early as possible to help teams avoid complications in the development process, making it more thoughtful and productive from the early stages to the final release. Playing the role of the end-user, we verify your application behaves as intended, while its interface is intuitive, user-friendly, and bug-free.
                                            </p>
                                            <a href="/qa-services" class=" btn btn-primary rounded-pill" style="background: #222F9C;">Read More <i class="fa fa-arrow-right-long"></i></a>
                                        </div>                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>